*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-color: darkslateblue;
    height: 100vh;
}
[class*="col-"] {
    background-color:yellowgreen;
}

.flex-center{
    justify-content: center;
}