*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    background-image: url("https://wallpaperaccess.com/full/156992.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
[class*="col-"] {
    background-color:yellowgreen;
}

.flex-center{
    justify-content: center;
}